body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

form {
    max-width: 800px;
    margin: auto;
}

input, button {
    width: calc(100% - 2em);
    margin: 1em;
    padding: 1em;
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
